/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*-----------  MY CODE -----------------*/
@font-face {
    font-family: bosk;
    src: url(fonts/bosk.otf);
}

html, body
{
    width: 100%;
}
#bg-video
        {
            position: absolute;
            right: 0; 
            bottom: 0;
            min-width: 100%; 
            min-height: 100%;
            width: auto; 
            height: auto;
            z-index: -100;
        }
.home
        {
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            
        }
#content-people, .content-home, .home, #content-landscape, #content-aboutme, #content-contact
        {
            height:100vh;
            font-family: bosk;
        }
#logo
        {
            margin-left: 85px;
            margin-top: 40px;
        }


            .menu 
            {
                list-style-type: none;
                float: right;
                margin-right: 85px;
                margin-top: 40px;
                font-size: 28px;
            }
            .menu li
            {
                float: left;
                padding: 30px;
            }
            .menu li a
            {
                padding: 10px;
                text-decoration: none;
                color: #fff;
            }
            .moto-title
            {
                font-size: 50px;
                text-align: center;
                margin-top: 150px;
            }
            .bottom-text
            {
                width:100%;
                position: absolute;
                bottom: 0;
                text-align: center;
            }
            .continiue
            {
                padding-bottom: 10px;
                font-size: 30px;
            }
            .arrow
            {
                padding-bottom: 20px;
            }
            
            .category
            {
                float: left;
                width:15%;
                display: inline-block;
                font-size: 60px;
                margin-top:70px;
            }

            .category p
            {
                margin-left: 80px;
                margin-top: 100px;
            }
            .category-2
            {
                float: left;
                width:15%;
                display: inline-block;
                font-size: 60px;
                margin-top: 70px;
            }

            .category-2 p
            {
                margin-left: 80px;
                margin-top: 300px;
            }
            .next
            {   position: relative;
                display: inline-block;
                width: 100%;
                text-align: center;
                margin-top: 30px;
            }
            .photos
            {
                float: right;
                width: 85%;
                display: inline-block;
                margin-top: 70px;
            }
            .photos-l,.photos-l-2
            {
                float: right;
                width: 85%;
                display: inline-block;
            }
            .photos-l{
                margin-top: 70px;
            }
            

            .image
            {
                cursor: pointer;
                transition: 0.3s;
            }

            .image:hover 
            {
                opacity: 0.7;
            }
            .col-1-p
            {
                float: left;
                width: 300px;
                
                
            }
            .col-2-p, .col-3-p
            {
                float: left;
                width: 350px;
                
                
            }
            .col-2-p div 
            {
                position: relative;
                display: inline-block;
                float: left;
                padding-bottom: 5px;
                padding-left: 5px;
            }
            .col-3-p div 
            {
                position: relative;
                display: inline-block;
                float: left;
                padding-bottom: 5px;
                padding-right: 5px;
            }

            .col-1-p-l
            {
                float: left;
                width: 405px;
                
                
            }
            .col-1-p-l div
            {
            
                padding-bottom: 5px;
                
            }
            .col-2-p-l
            {
                float: left;
                width: 205px;
                
                
            }
            .col-2-p-l div 
            {
                position: relative;
                display: inline-block;
                float: left;
                padding-bottom: 5px;
              
            }
            .col-3-p-l
            {
                float: left;
                width: 370px;
                
                
            }
            .col-3-p-l div 
            {
                position: relative;
                display: inline-block;
                float: right;
                padding-bottom: 5px;
                
            }

            .col-1-p-l-2
            {
                float: left;
                width: 205px;
                
                
            }
            .col-1-p-l-2 div 
            {
                position: relative;
                display: inline-block;
                float: left;
                padding-bottom: 5px;
              
            }
             .col-2-p-l-2
            {
                float: left;
                width: 775px;
                
                
            }
            .col-2-p-l-2 div
            {
                position: relative;
                display: inline-block;
                padding-bottom: 5px;
                
            }
            
            .aboutme
            {
                font-size: 50px;
                margin-top: 30px;
                margin-bottom: 30px;
                margin-left: 70px
            }
            .aboutme-photo
            {
                position: relative;
                display: inline-block;
               width: 40%;
               float: left;
               margin-left: 100px

            }
            .aboutme-text
            {
                position: relative;
                display: inline-block;
                width: 40%;
                float: left;
                margin-top: 100px;
                font-size: 30px;
            }




/*-------------- END OF MY CODE------------------------*/

        /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width:30%;
    max-width: 700px;
}



/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}   